<div class="col-3 panel">
    <section>
        <h5>Genres</h5>
        <div class="d-flex flex-column">
            {% for genre in genres %}
                <a href="/?genre={{ genre.genre }}">{{ genre.genre }}</a>
            {% endfor %}
        </div>
    </section>
    <section>
        <h5>Artists</h5>
        <div class="d-flex flex-column">
            {% for artist in artists %}
                <a href="/?artist={{ artist.artist }}">{{ artist.artist }}</a>
            {% endfor %}
        </div>
    </section>
    <section>
        <h5>Compositions</h5>
        <div class="d-flex flex-column">
            {% for composition in compositions %}
                <a href="/?composition={{ composition.title }}">{{ composition.title }}</a>
            {% endfor %}
        </div>
    </section>
</div>
